<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi cuenta</title>
</head>
<body>
    <header></header>
    <main>
      <div class="forms">
        <form autocomplete="off">
            <div class="img-card"><img src="images/images-forms/duo-1.png" width="380px" alt="foto de mascotas"></div>
            <div class="icon-form"><img src="images/icons-forms/account-circle.png" alt="icono login"></div>
            <div>
                <img class="icon-input" src="images/icons-forms/login.png" width="35px" alt="icono usuario">
                <input class="input-text" type="text" id="user" placeholder="Usuario o email">
            </div>
            <div class="div-error"><p class="text-error"><img src="images/icons-forms/error.png"style="margin-bottom: -7px" width="25px" alt="icono de error">Ingrese su usuario o email.</p></div>
            <div>
                <img class="icon-input" src="images/icons-forms/lock.png" width="35px" alt="icono contraseña">
                <input class="input-text" type="text" id="pass" placeholder="Contraseña">
            </div>
            <div class="div-error"><p class="text-error"><img  class="icon-error" src="images/icons-forms/error.png"style="margin-bottom: -7px" width="25px" alt="icono de error">Debe ingresar su contraseña.</p></div>
            <div class="div-remember">
                <div class="input-checkbox"><input type="checkbox" id="remember"></div>
                <div><label for="remember">Recordarme</label></div>
            </div>
            <div><button class="button-form" type="submit">Iniciar Sesión</button></div>
            <div class="link"><a class="link-login" href="#">¿Olvidaste tu contraseña?</a></div>
            <div class="button-register"><a class="button-link-register" href="/register">Crear nueva Cuenta</a></div>
        </form>
        <div class="mascotas-img"><img src="images/images-forms/mascotas.png" alt="foto de mascotas"></div>
      </div>
    </main>
    <footer>
      <div class="footer">
            <div class="container">
              <div class="row">
                <div class="footer-col-1">
                  <h3>Descarga Nuestra Aplicación</h3>
                  <p>Disponible para celulares Android y Iphone</p>
                  <div class="app-logo">
                    <img src="images/play-store.png"/>
                    <img src="images/app-store.png" />
                  </div>
                </div>
                <div class="footer-col-2">
                  <img src="images/logo-white.png" />
                  <p>La mejor tienda para tus mascotas</p>
                </div>
                <div class="footer-col-3">
                  <h3>links importantes</h3>
                  <ul>
                    <li>cuchas</li>
                    <li>alimentos</li>
                    <li>veterinaria</li>
                    <li>criadero</li>
                  </ul>
                </div>
                <div class="footer-col-3">
                  <h3>Siguenos </h3>
                  <ul>
                    <li>Facebook</li>
                    <li>Twiter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                  </ul>
                </div>
              </div>
              <hr />
              <p class="copyright">Copyright 2021 - Grupo 14</p>
            </div>
          </div>
    </footer>
</body>
</html>