<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailProduct</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"></head>


<body>
    <!-- <section class="container">
        <div class="contenedor">
            <div class="foto1"><img src="/images/cajita-gato1.png"  alt=""></div>
            <div class="foto2"><img src="/images/cajita-gato2.png" alt=""> </div>
            <div class="foto3"><img src="/images/cajita-gato3.png" alt=""></div>

            <div class="foto4">


         <img src="/images/cajita-gato.png" width="100%"alt="">
        </div>

        </div>
        <div class="product-price">
         <h3>categorias ->subCategotia </h3>

            
        </div>



    </section> -->
    <footer>
        <div class="footer">
            <div class="container">
              <div class="row">
                <div class="footer-col-1">
                  <h3>Descarga Nuestra Aplicación</h3>
                  <p>Disponible para celulares Android y Iphone</p>
                  <div class="app-logo">
                    <img src="images/play-store.png"/>
                    <img src="images/app-store.png" />
                  </div>
                </div>
                <div class="footer-col-2">
                  <img src="images/logo-white.png" />
                  <p>La mejor tienda para tus mascotas</p>
                </div>
                <div class="footer-col-3">
                  <h3>links importantes</h3>
                  <ul>
                    <li>cuchas</li>
                    <li>alimentos</li>
                    <li>veterinaria</li>
                    <li>criadero</li>
                  </ul>
                </div>
                <div class="footer-col-3">
                  <h3>Siguenos </h3>
                  <ul>
                    <li>Facebook</li>
                    <li>Twiter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                  </ul>
                </div>
              </div>
              <hr />
              <p class="copyright">Copyright 2021 - Grupo 14</p>
            </div>
          </div>
    </footer>
<!-- <footer class="">
<div class="container-footer">
    <div class="aplicacion-footer">
     <h3>Descagar Nuestra Aplicacion</h3>
     <p>Disponible para celulares Android y Iphone </p>
     <img src="images/play-store.png" />
     <img src="images/app-store.png" />
    </div>
        <div class="logo-footer">
            <img src="images/logo-white.png" />
            <p>La mejor tienda para tus mascotas</p>
        </div>
        <div class="redes-footer">
            <div class="link-footer">
                <h3>importantes</h3>
                <ul>
                  <li>cuchas</li>
                  <li>alimentos</li>
                  <li>veterinaria</li>
                  <li>criadero</li>
                </ul>
            </div>
            <div class="redSocial-footer">
                <h3>Siguenos </h3>
                <ul>
                  <li>Facebook</li>
                  <li>Twiter</li>
                  <li>Instagram</li>
                  <li>Youtube</li>
                </ul>
            </div>

    </div>

 

</div>
<div class="lineal"></div>
<p class="footer-copyright" >Copyright 2021 - Grupo 14</p>


</footer> -->
</body>
</html>