<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DetailProduct</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"></head>
<!-- header -->

<header >
    <div class="container">
    <div class="img-logo" ><img src="/images/fatiga-logo.png"   alt="logo"></div>

    <div class="container-bar">
        <input class="input-bar" type="text"  placeholder="¡ inicie su busqueda ! ">
    
    <button class="search-bar">
      <i class="fas fa-search"></i>
    </button>
</div>
<div class="container-iconos">
    <div class="ingreso">
        
        <i class="far fa-address-card"></i>
            <a href=""> Tu Cuenta   </a>
    </div>
    <div class="register">
        <i class="fas fa-user-edit"></i>   
            <a href="">Registrate </a>
        
    </div>
    <div class="cart">

        <i class="fas fa-shopping-cart"></i>
               
            <a href="">Carrito </a>
    </div>
</div>
</div>

    <nav>

    
        
        <select  name="mascota" >
            <option>MASCOTAS</option>
            <option>Perros</option>
            <option>Gatos</option>
            <option>Peces</option>
            <option>Roedores</option>
            <option>Aves</option>
           
          </select>
          <select  name="productos" >
            <option>Productos</option>
            <option>alimentos</option>
            <option>juguetes</option>
            <option>accesorios</option>
            <option>ropitas</option>
            <option></option>
           
          </select>
          <select  name="mascota" >
            <option>Servicios</option>
            <option>Perros</option>
            <option>Gatos</option>
            <option>Peces</option>
            <option>Roedores</option>
            <option>Aves</option>
           
          </select>

          <select  name="mascota" >
            <option>MASCOTAS</option>
            <option>Perros</option>
            <option>Gatos</option>
            <option>Peces</option>
            <option>Roedores</option>
            <option>Aves</option>
           
          </select>
          <select  name="Nosotros"  >
            <option>NOSOTROS</option>
            <option>Trayectoria</option>
            <option>Bloq</option>
            
          </select>
    </nav>


</header>




    <!-- fin de header -->

<body>
    <section class="container">
        <div class="contenedor">
            <div class="foto1"></div>
            <div class="foto2"></div>
            <div class="foto3"></div>

            <div class="foto4">


         <img src="/images/cajita-gato.png" alt="">
        </div>

        </div>
        <div class="product-price"></div>



    </section>

</body>
</html>