body.carrito-body {
    background: radial-gradient(#fff, #ffd6d6);
}

.buy-cart-form {
    background: lightgrey;
}

 div.buy-cart {
    display: flex; 
    padding: 10px 20px 10px;
}

 div.encabezados-carrito  {
    display: flex; 
    padding: 10px 20px 10px; 
    height: 40px; 
    background: #555; 
    color: white;
}

 div.encabezados-carrito p {
    color: white;
}

 div.encabezados-carrito p.article-title {
    width: 60%;
}

 div.contenedor-articulo {
    display: flex;
}

 div.contenedor-articulo div.vista-articulo {
    display: flex; 
    justify-content:start; 
    margin: 0px 20px;
}

 div.contenedor-articulo div.vista-articulo div.imagen-cucha {
    display: flex; 
    justify-content: center; 
    margin-top: 10px;
}

 div.contenedor-articulo div.vista-articulo div.imagen-cucha img {
    width: 100px; 
    border-radius: 10px;
}

 div.contenedor-articulo div.accountant {
    display: flex; 
    justify-content: center; 
    margin: 20px 0px;
}

 div.contenedor-articulo div.accountant button.button-accountant {
    width: 40px; 
    height: 40px;  
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    background: #555; 
    color: white; 
    cursor: pointer;
    font-size: var(--estandar);
}
div.contenedor-articulo div.accountant span {
font-size: var(--estandar);
    margin: auto;
    color: white
}
 div.contenedor-articulo div.accountant input.input-amount {
    width: 40px; 
    height: 40px; 
    margin: 0px 5px; 
    border: solid 2px #555; 
    border-radius: 5px; 
    outline: none;
}

 div.contenedor-articulo div.reseña {
    width: 30%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 10px;
}

 div.contenedor-articulo div.reseña p {
    text-align: center;
}
div.contenedor-articulo .tachito{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
 div.contenedor-articulo .tachito button.delete {
    display: flex;
     justify-content: center; 
     margin-top: 10px; 
     width: 30px; 
     border: 2px solid; 
     border-radius: 5px; 
     background: none; 
     cursor: pointer;
}
div.contenedor-articulo .tachito button.delete i {
    font-size: var(--estandar);
}

 div.contenedor-articulo div.price-item {
    width: 20%;
    display: flex;
    justify-content: end; 
    padding: 10px 20px;
}

 div.contenedor-articulo div.sub-item {
    width: 20%; 
    display: flex; 
    justify-content: end; 
    padding: 10px 20px;
}

 div.encabezados-carrito p.price-title {
    width: 20%; 
    text-align: end;
}

 div.encabezados-carrito p.sub-title {
    width: 20%; 
    text-align: end;
}

 div.gral-delivery {
    display: flex; 
    height: 40px; 
    background: #555; 
    color: white;
}

 div.gral-delivery p {
    padding: 10px 20px 10px;
    color:white;
}

 div.pay-delivery {
    display: flex; 
    justify-content: space-between; 
    padding: 10px 20px 10px;
}

 div.pay-delivery select {
    width: 80px; 
    height: 30px; 
    border: none; 
    border-radius: 5px; 
    background: #555; 
    color: white;
    cursor: pointer;
}

 div.pay-delivery select option {
    border: none; 
    background: #555; 
    color: white; 
}

 div.free-delivery {
    display: flex; 
    justify-content: space-between; 
    padding: 10px 20px 10px;
}

 div.total-buy {
    display: flex; 
    justify-content: space-between; 
    padding: 10px 20px 10px; 
    height: 40px; 
    background: #555; 
}

 div.total-buy p {
    color: white;
}

 div.buy {
    display: flex; 
    justify-content: end;
}

 div.buy button {
    border: none; 
    border-radius: 10px; 
    width: 50%; 
    height: 40px; 
    background: #555; 
    color: white; 
    margin: 20px;
}



 div.back-shop {
    display: flex;
}

 div.back-shop a {
    font-size: 12px; 
    color: #555; 
    margin: 20px 0px 20px 20px;
}
@media(min-width: 320px) {
    div.contenedor-articulo div.reseña {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      justify-content: space-around;
    }

    div.encabezados-carrito p.article-title {
        width: auto;
    }
    div.encabezados-carrito {
        display: flex;        
        background: #555;
         color: white;
         justify-content: space-between;
        
        }
        div.contenedor-articulo div.vista-articulo {
            margin: 1px;
        }
        div.contenedor-articulo div.vista-articulo div.imagen-cucha{
            flex-direction: column

        }
    div.contenedor-articulo div.vista-articulo div.imagen-cucha img {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    div.contenedor-articulo div.accountant {
        display: flex;
        align-items: end;    }
    div.encabezados-carrito p.article-title {
        font-size: var(--etique-p);
    }
    /* div.contenedor-articulo div.accountant button.button-accountant {
        width: 20px;
        height: 20px;
    } */
    div.contenedor-articulo div.price-item {
        width: auto;
        margin-left: 8px;
        padding: 1px;
    }
   
div.contenedor-articulo {
    display: flex;
    flex-direction: column;
}
    .buy-cart-container {
        display: flex;
        flex-direction: column;}
     div.pay-delivery select {
         width: 80px;}
         

}
@media(min-width: 480px) {
    .buy-cart-form {width: 480px; border-radius: 10px; margin: 20px 0px 30px;}
    .buy-cart-container {display: flex; justify-content: center;
        align-items: center
    }
     div.pay-delivery select {width: 80px;}
     div.contenedor-articulo div.vista-articulo div.imagen-cucha img {
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 10px;
       
    }
}

@media(min-width: 768px) {
     div.pay-delivery select {width: 90px; font-size: 16px;}
     div.back-shop a {font-size: 14px;}
}

@media(min-width: 992px) {
    .buy-cart-form {width: 800px; font-size: 18px;}
     div.contenedor-articulo div.vista-articulo div.imagen-cucha img {width: 200px;}
     div.buy button {width: 30%;}
     div.contenedor-articulo div.accountant button.button-accountant:hover {
        background: black; 
        font-size: 20px;
    }

     div.buy button {font-size: 16px;}

     div.buy button:hover {
        background: black; 
        color: white; 
        font-size: 16px; 
        font-weight: bold; 
        cursor: pointer;
    }

     div.contenedor-articulo div.reseña button.delete:hover, form div.contenedor-articulo div.reseña button.delete img:hover {
        width: 35px; 
    }
}