footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }

  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30%;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  .app-logo {
    margin-top: 20px;
  }
  
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
  }
  
  .copyright {
    text-align: center;
  }
  
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }

  /*---------------media query ----------------------*/

@media only screen and (max-width: 800px) {
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
  
      background: #333a;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
    }
  
    nav ul li {
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    nav ul li a {
      color: #fff;
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }
  
  /*---------------media query para 600 screen size----------------------*/
  
  @media only screen and (max-width: 600px) {
    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  }

/* estructura Mobile */
/* footer{
    background-color: black;
}

 footer .container-footer{
     display:flex;
     flex-direction: column;
  
    justify-content: center;
    align-items: center; 
 } 
 footer .aplicacion-footer{
    width: 49%;
 }
 footer .aplicacion-footer img{
    max-width: 140px;
 margin-bottom: 2px;


} 
footer .aplicacion-footer h3{

    margin: 10px 0;
    text-align: center;
    color: white;
}
footer .aplicacion-footer p{
   text-align: center;
   margin-bottom: 20px;
}
footer .logo-footer{
    margin-bottom: 20px;
}
 footer .logo-footer img{
     width: 180px;
     margin: 20px 0;
 }
footer .redes-footer{
     display: flex;
     width: 180px;
justify-content: space-evenly;
margin-bottom: 10px;

 }
footer .redes-footer .link-footer h3{
    color:white;
    margin-bottom: 10px;

}
footer .redes-footer .redSocial-footer h3{
    color:white;
    margin-bottom: 10px;

}
 ul{
    list-style: none;
    color: white;
    margin-bottom: 20px;
}
footer p .copyrigth{
    text-align: center;
     padding-bottom: 15px;
}
footer .lineal{
    border-top: 1px solid white;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}
 /* estructura tablet */






/*  



 @media(min-width:467px){
    
 footer .container-footer{
    height: 268px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly

 }
 footer .aplicacion-footer{
     width: 20%;
 }
 .logo-footer{
     width: 40%;
 }
 ul{
     border:none;
 }
} */