* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main.main-login {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main.main-login img.background-form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

main.main-login div.form {
    width: 90%;
    max-width: 450px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 8px 8px 20px #000;
    position: relative;
}

#user-profile {
    width: 65px;
    height: 80px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);

}

.camera-user {
    color: #fff;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

main.main-login div.form h1.login {
    color: #000;
    padding: 10px 0px;
    font-family: sans-serif; 
}

main.main-login div.form div.data-container {
    width: 95%;
    margin: 5px auto 0px;
}

main.main-login div.form div.data-container div.input-user-container {
    display: flex;
    align-items: center;
    height: 50px;
    border: 2px solid #000;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 8px 8px 20px #000;
}

main.main-login div.form div.data-container div.check-user-container {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

main.main-login div.form div.data-container div.input-user-container .fa-envelope, .fa-lock, .fa-unlock, .fa-user, .fa-phone {
    font-size: 22px;
    padding: 0px 15px;
    border-right: 2px solid #000;
    color: #000;
}

div.data-links {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-home, .fa-sign-out-alt, .fa-analytics, .fa-undo-alt, .fa-user-edit {
    font-size: 26px;
    padding: 0px 15px;
    color: #fff;
}

main.main-login div.form div.data-container div.input-user-container input.input-text {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding-left: 5px;
}

main.main-login div.form div.data-container small.text-error {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
}

main.main-login div.form div.data-container div.file-user-container {
    margin: 0px auto;
    width: 100px;
    height: 30px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    padding-top: 5px;
    box-shadow: 8px 8px 20px #000;
}

main.main-login div.form div.data-container div.file-user-container input.input-file-user {
    display: none;
}

main.main-login div.form div.btn-submit-container {
    width: 95%;
    margin: 20px auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
}

main.main-login div.form div.btn-submit-container button.btn-form {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 16px;
    box-shadow: 8px 8px 20px #000;
}

main.main-login div.form div.link-pass-user {
    display: flex;
    justify-content: end;
    margin: 10px 15px 0px 0px;
}

main.main-login div.form div.link-register-user {
    display: flex;
    justify-content: center;
    margin: 20px;
}

a.link-login {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

::placeholder {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

h1.principal-data-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: rgba(43, 33, 33, 0.6);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 8px 8px 20px #000;
}

ul.data-list-profile {
    margin-top: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(43, 33, 33, 0.6);
    box-shadow: 8px 8px 20px #000;
}

li.item-data-profile {
    width: 100%;
}

p.data-profile {
    text-align: start;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

i.icon-link-profile {
    color: #fff;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    padding: 0px;
}

@media (min-width: 768px) {
    main.main-login {
        min-height: 800px;
    }

    main.main-login div.form {
        width: 50%;
    } 

    main.main-login div.form div.btn-submit-container {
        cursor: pointer;
    }

    main.main-login div.form div.btn-submit-container button.btn-form {
       cursor: pointer;
    }
}