/* Barra de navegación principal. */
nav.navAdmin {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-image: linear-gradient(to right, #3e6488, #28435d);
}


/* oculto los inputs radios. */
input#bars, input#close {
    display: none;
}


/* input radio que despliega el menu en dispositivos. */
input#bars:checked ~ ul.navMenu {
    top: 0%;
}


/* Botón menu. */
label.barsMenu {
    padding: 10px;
    margin: 15px 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
}


/* Menu de navegación en dispositivos móbiles. */
ul.navMenu {
    list-style: none;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0%;
    z-index: 1;
    background-image: linear-gradient(to right, #3e6488, #28435d);
    transition: all .8s;
}

li.iconClose {
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

li.itemMenu {
    width: 100%;
    padding: 20px 50px;
    border-bottom: 2px solid #fff;
}

a.linkMenu {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
}

i.iconLink {
    font-size: 18px;
    margin-right: 10px;
    color: #fff;
}



/* Barra de busqueda en dispositivos móbiles. */
div.itemSearch {
    margin: 0px auto;
    padding: 30px 0px;
    width: 80%;
    display: flex;
}

button.btnSearch {
    border: none;
    background: none;
}

input.inputSearch {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    margin-left: 5px;
    border-bottom: 2px solid #fff;
}

input.inputSearch::placeholder {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
}

i.iconSearch {
    font-size: 18px;
    color: #fff;
}

@media (min-width: 992px) {

/* Barra de navegación principal. */
    nav.navAdmin {
        background-image: linear-gradient(to right, #fff, #fff);
        position: fixed;
        top: 0px;
    }

    
/* Botón menu. */
    label.barsMenu {
        display: none;
    }


/* Menu de navegación en desktop. */
    ul.navMenu {
        height: 70px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        top: 70px;
        left: 0px;
        transition: 0s;
        background-image: linear-gradient(to right, #3e6488, #28435d);
    }

    li.iconClose {
        display: none;
    }

    li.itemMenu {
        border-bottom: none;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70px;
    }

    

    a.linkMenu {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


/* Barra de busqueda en desktop. */
    div.itemSearch {
        display: flex;
        position: absolute;
        top: -80px;
        left: 50%;
        width: 25%;
        transform: translateX(-50%);
    }

    i.iconSearch {
        font-size: 24px;
        color: #234;
    }

    input.inputSearch {
        border-bottom: 2px solid #234;
    }

    input.inputSearch::placeholder {
        font-size: 12px;
        text-transform: uppercase;
        color: #234;
    }   
}