/* contenedor principal */
.panel-principal{
    display: flex;
}


/* buscador */
.panel-principal .panel-administrador .buscador-administrador #buscador-administrador {
    display: none;
}

.panel-principal .panel-administrador .buscador-administrador .label-administrador {
    display: flex;
}

.panel-principal .panel-administrador .buscador-administrador .label-administrador .fas {
    color: #fff;
    font-size: 26px;
    padding: 20px 10px 20px 20px;
}

.panel-principal .panel-administrador .buscador-administrador .label-administrador .accion-administrador {
    color: #fff;
    padding: 25px 0px;
    display: none;
}

.panel-principal .panel-administrador .buscador-administrador #buscador-administrador:checked ~ .busqueda-administrador {
    margin-top: 0px;
}

.panel-principal .panel-administrador .buscador-administrador .busqueda-administrador {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 30px;
    width: 100%;
    margin-top: -65px;
    padding-left: 30px;
    display: flex;
    justify-content: end;
    background: #234;
    transition: all 0.5s;
}

.panel-principal .panel-administrador .buscador-administrador .busqueda-administrador .barra-busqueda-administrador {
    border: 2px solid #fff;
    border-radius: 20px;
    width: 80%;
    display: flex;
}


.panel-principal .panel-administrador .buscador-administrador .busqueda-administrador .barra-busqueda-administrador #search-administrador {
    width: 90%;
    border: none;
    outline: none;
    padding: 8px;
    background: none;
    color: #fff;
}

.panel-principal .panel-administrador .buscador-administrador .busqueda-administrador .barra-busqueda-administrador .button-administrador {
    border: none;
    background: none;
    padding: 5px;
}

.panel-principal .panel-administrador .buscador-administrador .busqueda-administrador .barra-busqueda-administrador .button-administrador .fas {
    color: #fff;
    font-size: 26px;
}


/* barra de navegación */
.panel-principal .panel-administrador {
    width: 15vw;
    min-width: 70px;
    height: 100vh;
    background: #234;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panel-principal .panel-administrador .avatar-administrador {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0px 5px;
}

.panel-principal .panel-administrador .menu-administrador {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.panel-principal .panel-administrador .menu-administrador .opcion-administrador {
    display: flex;
}

.panel-principal .panel-administrador .menu-administrador .opcion-administrador .fas {
    color: #fff;
    font-size: 26px;
    padding: 20px;
    
}

.panel-principal .panel-administrador .menu-administrador .opcion-administrador .accion-administrador {
    text-decoration: none;
    color: #fff;
    display: none;
    padding: 25px;
}






@media (min-width: 368px){
    .panel-principal .panel-administrador {
        max-width: 70px;
    }
}

@media (min-width: 468px){
    .panel-principal .panel-administrador .buscador-administrador .busqueda-administrador  {
        padding-left: 5px;
    }

}

@media (min-width: 768px){
    .panel-principal .panel-administrador {
        max-width: 164px;
        width: 20vw;
    }

    .panel-principal .panel-administrador .buscador-administrador .busqueda-administrador {
        background: #234;
        padding-left: 200px;
    }
    
    .panel-principal .panel-administrador .menu-administrador .opcion-administrador .accion-administrador {
        display: block;
        padding: 25px 5px;
    }

    .panel-principal .panel-administrador .buscador-administrador .label-administrador .accion-administrador {
        display: block;
    }

    .panel-principal .panel-administrador .menu-administrador .opcion-administrador .fas {
        font-size: 26px;
        padding-right: 5px;
    }

    .panel-principal .panel-administrador .avatar-administrador {
        width: 120px;
        height: 120px;
        margin: 20px;
    }

    .panel-principal .panel-administrador .buscador-administrador .busqueda-administrador {
        justify-content: start;
    }
}

@media (min-width: 992px){
    .panel-principal{
        flex-direction: column;
    }

    .panel-principal .panel-administrador {
        width: 100vw;
        height: 70px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: none;
    }
    
    .panel-principal .panel-administrador .menu-administrador {
        flex-direction: row;
        align-items: center;
    }

    .panel-principal .panel-administrador .avatar-administrador {
        width: 60px;
        height: 60px;
    }

    .panel-principal .panel-administrador .menu-administrador .opcion-administrador .accion-administrador {
        padding: 25px 30px;
    }

    .panel-principal .panel-administrador .menu-administrador .opcion-administrador .accion-administrador:hover {
        background: #28435d;
    }

    .panel-principal .panel-administrador .menu-administrador .opcion-administrador .fas {
        display: none;
    }

    .panel-principal .panel-administrador .buscador-administrador .label-administrador .fas {
        display: none;
    }

    .panel-principal .panel-administrador .buscador-administrador .label-administrador .accion-administrador {
        display: none;
    }
 
    .panel-principal .panel-administrador .buscador-administrador .busqueda-administrador {
        position: absolute;
        top: 0px;
        left: 180px;
        padding: 14px 0px;
        width: 35%;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        background: #234;
        transition: none;
    }

    .panel-principal .panel-administrador .avatar-administrador {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}