/* section.container{
    width: 92%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 20px;
}
.contenedor{
    display: inline-block;
    width: 65%;
    border: 1px solid grey;
    margin-left: 10px;
}
.foto1,.foto2,

img{
    width: 10%;
}

.product-price{
    background-color: white;
    width: 20%;
    height: 70%;
    border: 1px solid grey;

     
    
} */