body.vista-admin-producto {
    background: #f0f0f0;
}

/* formulario agregar producto */
.tablero-admin-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.tablero-admin-producto .contenedor-admin-producto {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 10px;
    align-items: center;
}

.titulo-formulario-admin {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    padding: 5px 10px;
    background-image: linear-gradient(to right, #396085, #28435d);
    border-radius: 5px;
    box-shadow: 5px 5px 8px #000;
}

.formulario-admin-producto {
    width: 100%;
}

.titulo-formulario-agregar {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}




/* Inputs del formulario */

.contenedor-agregar-dato {
    display: flex;
    align-items: center;
    border-right: 4px solid #396085;
    background: #fff;
    height: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 9px #000;
}

.input-agregar-dato {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    height: 50px;
    padding: 0px 5px;
    font-size: 12px;
    font-family: sans-serif;
    color: #555;
}

small.errorDanger {
    color: red;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

small.errorImage {
    display: block;
    text-align: center;
}

.fa-pencil-alt, .fa-dollar-sign, .fa-percentage, .fa-layer-group {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #396085, #28435d);
    font-size: 24px;
    color: #f0f0f0;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}


/* Textarea del formulario */
div.descripcion-productos-admin {
    background: #396085;
    text-align: center;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 5px 5px 8px #000;
}

.textarea-admin {
    outline: none;
    border: none;
    width: 100%;
    text-align:left;
    font-size: 12px;
    font-family: sans-serif;
    color: #555;
    padding: 5px;
}

label.titleLabel {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #396085;
    margin-top: 20px;
}

label.titleTextarea {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}


/* Select del formulario */
.seleccion-admin {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #396085, #28435d);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 5px 5px 8px #000;
}

div.select-opciones-administrador {
    margin-bottom: 10px;
}

option.opcion-admin {
    background-color: #396085;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.containerName {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right, #396085, #28435d);
    border-radius: 5px;
}


/* Imagen del formulario */
div.upload-image {
    margin-bottom: 40px;
}

.contenedor-imagen-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 50px;
    background-image: linear-gradient(to right, #396085, #28435d);
    color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #000;
}

.imagen-admin {
    display: none;
}

.imagen-producto-admin {
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px dashed #555;
    max-width: 250px;
    height: 250px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 5px 5px 8px #000;
}

#imagen-previa {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fa-camera {
    font-size: 34px;
    color: #555;
}


/* Botones del formulario */
.contenedor-botones-admin {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.contenedor-boton-admin {
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    background-image: linear-gradient(to right, #396085, #28435d);
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 5px 5px 8px #000;
}

.titulo-boton-admin {
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-boton-admin:hover {
    color: #fff;
    text-decoration: none;
}


@media (min-width: 468px){
    .formulario-admin-producto {
        max-width: 90%;
    }

    .imagen-admin {
        width: 70px;
        height: 70px;
    }

    .contenedor-boton-admin {
        width: 120px;
        height: 50px;
    }
}

@media (min-width: 768px){
    .titulo-formulario-admin {
        font-size: 16px;
    }
    
    .imagen-admin {
        width: 100px;
        height: 100px;
    }

    .contenedor-boton-admin {
        width: 100px;
        height: 50px;
    }

    ::placeholder {
        text-transform: uppercase;
    }

    label.titleLabel, label.titleTextarea {
        font-size: 15px;
    }

    .contenedor-boton-admin, .titulo-boton-admin, .input-agregar-dato, .textarea-admin, .containerName, .seleccion-admin {
        font-size: 14px;
    }
}

@media (min-width: 992px){
    .tablero-admin-producto {
        height: calc(100vh - 100px);
        padding-top: 140px;
    }
    
    .contenedor-admin-producto {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
    }

    .titulo-formulario-admin {
        margin-top: 10px;
    }

    .formulario-admin-producto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .contenedor-datos-1 {
        width: 50%;
        height: 500px;
    }

    .contenedor-botones-admin {
        width: 100%;
        margin-top: 10px;
        justify-content: space-evenly;
    }

    .contenedor-datos-2 {
        width: 35%;
        height: 500px;
        margin-top: -5px;
    }

    .contenedor-boton-admin:hover {
        cursor: pointer;
        background: #28435d;
        font-weight: bold;
    }
}