/* vista producto  */
.main-administrador {
    display: flex;
    flex-grow: 1;
    background: #f0f0f0;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 70px);
    height: 100vh;
}

.main-administrador .articulo-administrador {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 15px;
}

.main-administrador .articulo-administrador .tarjeta-administrador {
    margin: 15px;
    width: 85%;
    height: 300px;
    box-shadow: 20px 35px 30px rgb(43, 42, 42);
}

.main-administrador .articulo-administrador .tarjeta-administrador .vista-articulo-administrador {
    display: block;
}

.main-administrador .articulo-administrador .tarjeta-administrador .informacion-articulo-administrador {
    background: #fff;
}

.main-administrador .articulo-administrador .tarjeta-administrador .informacion-articulo-administrador .detalle-articulo-administrador {
    color: #555;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #f0f0f0;
    border-bottom: 5px solid #f0f0f0;
}

.main-administrador .articulo-administrador .tarjeta-administrador .opciones-crud-administrador {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.main-administrador .articulo-administrador .tarjeta-administrador .opciones-crud-administrador .opcion-crud-administrador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: orange;
    border-radius: 7px;
}

.main-administrador .articulo-administrador .tarjeta-administrador .opciones-crud-administrador .opcion-crud-administrador:nth-child(1) {
    background: green;
}

.main-administrador .articulo-administrador .tarjeta-administrador .opciones-crud-administrador .opcion-crud-administrador:nth-child(3) {
    background: red;
}

.main-administrador .articulo-administrador .tarjeta-administrador .opciones-crud-administrador .opcion-crud-administrador .accion-crud-administrador {
    display: block;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
}



@media (min-width: 368px){

}

@media (min-width: 468px){
    .main-administrador {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 2;
    }

    .main-administrador .articulo-administrador {
        width: 50%;
        max-width: 250px;
    }
}

@media (min-width: 768px){
    .main-administrador {
        width: 100vw;        
    }

}

@media (min-width: 992px){

    .main-administrador {
        width: 100vw;
        height: 100vh;
        align-items: flex-start;
    }
}