<!DOCTYPE html>
<html lang="en">
    <%- include('partials/nuevo-home/head', {title: 'PetShop'})  %> 
<body>
    <header>
        <%- include ('partials/nuevo-home/navbar') %>
        <img class="home-banner" src="/images/nuevo-home/banner/banner-mascotas.jpg" alt="">
        <%- include ('partials/nuevo-home/banner-carousel') %>
    </header>
    <section>
        <%- include ('partials/nuevo-home/categories') %>
    </section>
</body>
</html>