<nav class="navAdmin">
  <label class="barsMenu" for="bars"><i class="fas fa-bars iconBars"></i></label>
  <input type="radio" id="bars" name="btnToggle">
  <a href="#"><img class="" src="" alt=""></a>
  <ul class="navMenu">
      <li class="iconClose">
          <label for="close"><i class="fas fa-times iconLink"></i></label>
          <input type="radio" id="close" name="btnToggle">
      </li>
      <form action="/product/search" method="get">
      <div class="itemSearch">
          <button class="btnSearch" type="submit"><i class="fas fa-search iconSearch"></i></button>
          <input class="inputSearch" type="search" name="searchAdmin" placeholder="Buscar productos...">
      </div>
    </form>
      <li class="itemMenu"><a class="linkMenu" href="/"><i class="fas fa-home iconLink"></i>Inicio</a></li>
      <li class="itemMenu"><a class="linkMenu" href="/users/profile"><i class="fas fa-user iconLink"></i>Mi perfil</a></li>
      <li class="itemMenu"><a class="linkMenu" href="/admin/products"><i class="fas fa-tags iconLink"></i>Productos</a></li>
      <li class="itemMenu"><a class="linkMenu" href="/admin/products/create"><i class="fas fa-folder-plus iconLink"></i>Agregar</a></li>
      <li class="itemMenu"><a class="linkMenu" href="/users/logout"><i class="fas fa-sign-out-alt iconLink"></i>Salir</a></li>
  </ul>
</nav>