<header class=" main-header">
  <!-- linea verde fluo que aparece en modo tablet -->
  <div class="linear-table">
    <ul>
      <li> <i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fab fa-youtube"></i></i>
      </li>
      <li><i class="fab fa-twitter"></i></li>
      <li></li>
      </ul>
  </div>
<div class="main-header-top-bar">
<div class="shopping">
  <a href="/carrito"><i class="fas fa-shopping-cart"></i></a></div>

<div class="caja-foto">
  <a href="/">
  <img src="/images/zyro-image4.png" ></a>
</div> 
<div class="container-search">

<p class="buscador"><i class="fas fa-search" onclick="search()"></i></p>
<form action="/product/search" method="get" class="search-tablet formFind">
  <input type="text" name="searchAdmin" placeholder="Buscar productos, marcas y más" class="search-form_input inputFind">
  <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
  </form>

</div>
<div class="user-icons-desktop " >
  <div class="user">
      <% if (typeof session.user != "undefined") { %>
          <i class="fas fa-user"></i><span class="session"></span>
          <div class="menu-user">
              <a href="/users/profile">Mis datos</a>
              <a href="/users/logout">Cerrar sesión</a>
              <% if (session.user.rol === "ROL_ADMIN") { %>
                  <a href="/admin/products">ADMIN</a>
              <% } %>
          </div>
      <% } else {%>
          <a href="/users/login"><i class="fas fa-user"></i></a>
      <% } %>
  </div>
  <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
</div>

</div>


<!-- burgue modo mobile -->
<div class = "burger">
<!-- <input type="checkbox" id="menu"> -->
<button class="button-burger" id="button-burger" onclick="containerHidden()"><label for="menu"> ☰ </label></button>

<!-- <ul class="list-category" >  

</ul> -->
</div>

<!-- elementos ocultos barra lateral de busqueda -->
<div class="search-hidden" id="search-hidden">
<div class="modal-tach" id="modal-tach"><h5 class="modal-end" onclick="tach()">x</h5>

<h5>Buscar</h5></div>
<form action="/product/search" method="get" class="form-search" id="form-search">
<input type="text" name="searchAdmin" placeholder="Buscar productos marcas y más" class="search-form_input">
<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
</form>
</div>


<div class="container-hidden" id="container-hidden" >
<div class="traslineal">
<ul>
<li> <i class="fab fa-facebook-f"></i></li>
<li><i class="fab fa-instagram"></i></li>
<li><i class="fab fa-youtube"></i></i>
</li>
<li><i class="fab fa-twitter"></i></li>
<li></li>
</ul>
</div>


<div class="nabvar-select">
<nav class="main-navbar">

<select name="" id="">
  <a href="/perrorororo">
<option value="perro">
perro

</option></a>
</select>
<select name="" id="">
<option >
gato
</option>
</select>

<select name="" id="">
<option>
mascotas 
</option>
</select>

<select name="" id="">
  <option value="perro">
  perro
  </option>
  </select>


</nav>
</div>
<div class="header-bottom">
  <div class="user-icons-mobile " >

  <div class="user-mobile">
    <% if (typeof session.user != "undefined") { %>
        <i class="fas fa-user"></i><span class="session-mobile"></span>
        <div class="menu-user-mobile">
            <a href="/users/profile">Mis datos</a>
            <a href="/users/logout">Cerrar sesión</a>
            <% if (session.user.rol === "ROL_ADMIN") { %>
                <a href="/admin/products">ADMIN</a>
            <% } %>
        </div>
    <% } else {%>
        <a href="/users/login"><i class="fas fa-user"></i></a>
    <% } %>
</div>
</div>

<li><a href="#" id="end-table" onclick="endTable()"> x </a></li></ul>


</div>
</div>
<div class="table">
  <ul class="list-category-table"> 
   
      <li> 
    <li>
<a href="/">Productos <i class="fas fa-shopping-basket"></i> </a></li>

    <li>
    <a href="#mascota">Mascotas de aca <i class="fas fa-cat"></i></a></li>
    <li>
      <a href="/users/register">crea tu cuenta <i class="fad fa-user-edit"></i>  </a>
    </li>
    
    </ul>
 
</div>

</header>
<script src="/js/header.js"> </script>
<script src="/js/validations/search.js"> </script>