
    <div class="panel-principal">
        <nav class="panel-administrador">
            <div class="buscador-administrador">
                <input type="checkbox" id="buscador-administrador">
                <label class="label-administrador" for="buscador-administrador"><i class="fas fa-search"></i><p class="accion-administrador">Buscador</p></label>
                <div class="busqueda-administrador">
                    <div class="barra-busqueda-administrador">
                        <input type="text" name="search-administrador" id="search-administrador" placeholder="Buscar producto...">
                        <button class="button-administrador" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
            <a href="#"><img class="avatar-administrador" src="/images/images-admin/perfil.jpg" alt="foto de perfil"></a>
            <ul class="menu-administrador">
                <li class="opcion-administrador">
                    <i class="fas fa-home"></i>
                    <a class="accion-administrador" href="#">Inicio</a>
                </li>
                <li class="opcion-administrador">
                    <i class="fas fa-tags"></i>
                    <a class="accion-administrador" href="#">Productos</a>
                </li>
                <li class="opcion-administrador">
                    <i class="fas fa-folder-plus"></i>
                    <a class="accion-administrador" href="#">Agregar</a>
                </li>
                <li class="opcion-administrador">
                    <i class="fas fa-sign-out-alt"></i>
                    <a class="accion-administrador" href="#">Salir</a>
                </li>
            </ul>
        </nav>