<header>    
    <nav class="barra-navegacion-admin">
        <input type="checkbox" id="check-menu">
        <label class="check-menu" for="check-menu"><i class="fas fa-bars fa-bars-admin"></i></label>
        <a href="#"><img class="avatar-admin" src="/images/images-admin/perfil.jpg" alt="imagen de perfil"></a>
        <ul class="menu-navegacion-admin">
            <li>
                <form method="get">
                    <div class="formulario-search-admin">
                        <div class="contenedor-search-admin">
                            <input class="input-search-admin" type="search" id="" placeholder="Buscar...">
                            <button class="btn-search-admin" type="submit"><i class="fas fa-search" id="btn-search-admin"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li class="menu-li-admin"><a class="enlace-admin" href="#"><i class="fas fa-home fa-home-admin"></i>Inicio</a></li>
            <li class="menu-li-admin"><a class="enlace-admin" href="#"><i class="fas fa-tags fa-tags-admin"></i>Productos</a></li>
            <li class="menu-li-admin"><a class="enlace-admin" href="#"><i class="fas fa-folder-plus fa-folder-plus-admin"></i>Agregar</a></li>
            <li class="menu-li-admin"><a class="enlace-admin" href="#"><i class="fas fa-users fas fa-users-admin"></i>Usuarios</a></li>
            <li class="menu-li-admin"><a class="enlace-admin" href="#"><i class="fas fa-sign-out-alt fa-sign-out-alt-admin"></i>Salir</a></li>
        </ul>
    </nav>
</header>