<header class=" main-header">
    <div class="main-header-top-bar">
        <img src="../images/fatiga-logo.png"  class="logo" alt="">
    <div class="container-search">
    <form action="" method="get" class="search-form">
      <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
      <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
  </form>
</div>



<!-- burgue modo mobile -->
        <input type="checkbox" id="menu">
          <label for="menu"> ☰ </label>
          <nav class="main-navbar">

            <ul class =" rigth-navbar">
              <li>
                <a href="/">Productos</a><i class="fas fa-shopping-basket"></i> </li>
            <li>
                <a href="">Mascotas </a><i class="fas fa-bone"></i></li>
                <li>
                    <a href="/register">crea tu cuenta   </a><i class="far fa-address-card"></i>
                </li>
                <li>
                    <a href="/login">ingresa </a><i class="fas fa-sign-in-alt"></i>
                </li>
                <li>
                    <a href="/carrito">carrito</a><i class="fas fa-shopping-cart"></i>
                </li>
          
            </ul>
          
          </nav>
        </div>
</header>
