<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/header-administrador.ejs')%>
        <main class="tablero-agregar-producto-administrador">
            <div class="contenedor-formulario-agregar-producto">
                <form class="formulario-agregar-producto" autocomplete="off">            
                    <div class="contenedor-agregar-administrador">
                        <div class="datos-productos-administrador">
                            <label for="agregar-nombre">Nombre</label>
                            <div class="entrada-agregar-dato">
                                <i class="fas fa-pencil-alt"></i>
                                <input class="input-agregar-dato" type="text" id="agregar-nombre" value="Rascador vertical">
                            </div>
                        </div>
                        <div class="datos-productos-administrador">
                            <label for="agregar-precio">Precio</label>
                            <div class="entrada-agregar-dato">
                                <i class="fas fa-dollar-sign"></i>
                                <input class="input-agregar-dato" type="text" id="agregar-precio" value="$2.700">
                            </div>
                        </div>
                        <div class="datos-productos-administrador">
                            <label for="agregar-precio">Categoría</label>
                            <div class="entrada-agregar-dato">
                                <i class="fas fa-tags" id="fa-tags"></i>
                                <input class="input-agregar-dato" type="text" id="agregar-precio" value="Accesorios">
                            </div>
                        </div>
                        <div class="datos-productos-administrador">
                            <label for="agregar-precio">Marca</label>
                            <div class="entrada-agregar-dato">
                                <i class="far fa-registered"></i>
                                <input class="input-agregar-dato" type="text" id="agregar-precio" value="Gatomón">
                            </div>
                        </div>
                        <div class="descripcion-productos-administrador">
                            <label for="descripcion">Descripción</label>
                            <div>
                                <textarea class="textarea-administrador" name="descripcion" id="descripcion" cols="" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero vitae quia dolorum eum voluptas neque minima accusantium, nisi exercitationem enim modi saepe nihil, doloremque, similique ducimus nulla incidunt deserunt tempora!
                                </textarea>
                            </div>
                        </div>    
                    </div>
                    <div class="contenedor-imagenes-administrador">
                        <div class="Imagen-principal-producto-administrador">
                            <div class="Imagen-producto-administrador"><img src="images/images-admin/rascador2.webp" width="100%" height="100%" alt="imagen principal rascador"></div>
                        </div>
                        <div class="editar-imagenes-administrador">
                            <div class="editar-imagen-administrador"><img src="images/images-admin/rascador3.webp" width="100%" height="100%" alt="miniatura rascador"></div>
                            <div class="editar-imagen-administrador"><img src="images/images-admin/rascador4.webp" width="100%" height="100%" alt="miniatura rascador"></div>
                            <div class="editar-imagen-administrador"><img src="images/images-adminrascador5.webp" width="100%" height="100%" alt="miniatura rascador"></div>
                        </div>
                    </div>
                    <div class="botones-editar-administrador">
                        <button class="boton-editar-administrador" type="reset">
                            <i class="fas fa-times-circle"></i>
                            <p class="titulo-boton-administrador">Cancelar</p>
                        </button>
                        <button class="boton-editar-administrador" type="submit">
                            <i class="fas fa-check-circle"></i>
                            <p class="titulo-boton-administrador">Editar</p>
                        </button>
                    </div>
                </form>
            </div>
        </main>
    </div>   
</body>
</html>