<div class="banner-carousel">
    <div class="banner-container">
        <a class="banner-link" href=""><img class="banner-image" src="/images/nuevo-home/carousel/banner-pedigree.jpg" alt="imagen pedigree clickeable"></a>
        <a class="banner-link" href=""><img class="banner-image" src="/images/nuevo-home/carousel/banner-infinity.png" alt="imagen infinity clickeable"></a>
        <a class="banner-link" href=""><img class="banner-image" src="/images/nuevo-home/carousel/banner-whiskas.png" alt="imagen whiskas clickeable"></a>
        <a class="banner-link" href=""><img class="banner-image" src="/images/nuevo-home/carousel/banner-proplan.jpg" alt="imagen proplan clickeable"></a>
        <a class="banner-link" href=""><img class="banner-image" src="/images/nuevo-home/carousel/banner-eukanuba.png" alt="imagen eukanuba clickeable"></a>
        <a class="banner-link" href=""><img class="banner-image" src="/images/nuevo-home/carousel/banner-royal.jpg" alt="imagen royal canin clickeable"></a>
    </div>
</div>