<div class="categories-container">
    <p class="section-title">Categorías destacadas</p>
    <ul class="categories-list">
        <li class="categories-item align-up">
            <a class="categories-link" href="">
                <img class="categories-image" src="/images/nuevo-home/categories/aves.jpg" alt="imagen categoría aves">
            </a>
        </li>
        <li class="categories-item">
            <a class="categories-link" href="">
                <img class="categories-image" src="/images/nuevo-home/categories/caninos.webp" alt="imagen categoría caninos">
            </a>
        </li>
        <li class="categories-item align-up">
            <a class="categories-link" href="">
                <img class="categories-image" src="/images/nuevo-home/categories/felinos.jpg" alt="imagen categoría felinos">
            </a>
        </li>
        <li class="categories-item">
            <a class="categories-link" href="">
                <img class="categories-image" src="/images/nuevo-home/categories/peces.jpg" alt="imagen categoría peces">
            </a>
        </li>
        <li class="categories-item align-up">
            <a class="categories-link" href="">
                <img class="categories-image" src="/images/nuevo-home/categories/roedores.webp" alt="imagen categoría roedores">
            </a>
        </li>
    </ul>
</div>