<nav class="nav-petshop">
    <label class="bars" for="bars-image"><i class="fas fa-bars"></i></label>
    <input type="radio" name="radio" id="bars-image">
        
    <div class="petshop-logo-container"><img class="petshop-logo" src="/images/pulgoso-logo.png" alt="logotipo pet shop"></div>
    
    <div>
        <label class="searcher" for="search-menu"><i class="fas fa-search"></i></label>
        <input type="radio" name="radio" id="search-menu">

        <div class="searcher-container">
            <label class="close-searcher" for="close"><i class="fas fa-times"></i></label>
            <input type="radio" name="radio" id="close">
            <form class="form-search" action="" method="get">
                <input type="search" name="search" id="search" placeholder="Buscar productos...">
                <button class="submit-search" type="submit"><i id="searcher-icon" class="fas fa-search"></i></button>
            </form>
        </div>
        
        <label class="login" for="login"><i class="fas fa-user"></i></label>
        <input type="radio" name="radio" id="login">
        <input type="radio" name="radio" id="login-desktop">

        <ul class="login-menu">
            <li>
                <label class="close-login-menu" for="close"><i class="fas fa-times"></i></label>
                <input type="radio" name="radio" id="close">
            </li>
            <li class="login-option-menu"><a class="login-link-menu" href="">Mi perfil</a></li>
            <li class="login-option-menu"><a class="login-link-menu" href="">Dashboard</a></li>
            <li class="login-option-menu"><a class="login-link-menu" href="">Salir</a></li>
        </ul>
        
        <label class="cart-icon" for="shopping-cart"><i class="fas fa-shopping-cart"></i></label>
        <input type="radio" name="radio" id="shopping-cart">

        <div class="cart-menu">
            <label class="close-cart" for="close"><i class="fas fa-times"></i></label>
            <input type="radio" name="radio" id="close">
            <p class="cart-message">El carrito está vació.</p>
        </div>
    </div>
   
    
    <ul class="nav-menu">
        <li class="close-menu">
            <label for="close"><i class="fas fa-times"></i></label>
            <input type="radio" name="radio" id="close">
        </li>
        <li class="nav-source"><a class="link-source" href="">Promociones</a></li>
        <li class="nav-source"><a class="link-source" href="">Servicios</a></li>
        <li class="nav-source"><a class="link-source" href="">Categorías</a></li>
        <li class="nav-source"><a class="link-source" href="">Novedades</a></li>
        <li class="nav-source"><a class="link-source" href="">Registrarse</a></li>
        <li class="nav-source last">
            <label class="link-source login-desktop" for="login-desktop">
                <i id="login-profile" class="fas fa-user"></i>
            </label>
        </li>
    </ul>
</nav>