<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Carrito de compras'}) %> 
<body >
  <%- include('../partials/header.ejs') %> 
  

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Carrito de compras</h2>
			</div>
		</div>
		<div class="card-card">
			<div class="card-body table-responsive">
				<table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody id="carrito">
                      <tr>
                        <th scope="row">cant</th>
                        <td>Imagen</td>
                        <td>Producto</td>
                        <td>Precio</td>
                        <td>Subtotal</td>
                        <td>Acciones</td>
                      </tr>
                    </tbody>
                  <tfoot>
                    <button onclick="emptyCart()" class="btn btn-danger">Vaciar carrito</button>
                    <button class="btn btn-primary">Finalizar compra</button>
                  </tfoot>

                  </table>
			</div>
		</div>
	</div> 

 
    <%- include('../partials/footer.ejs') %> 
<script src="/js/carrito.js"></script>
</body>
</html>



<!-- 
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Carrito de compras</h2>
			</div>
		</div>
		<div class="card">
			<div class="card-body table-responsive">
				<table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody id="carrito">
                      <tr>
                        <th scope="row">cant</th>
                        <td>Imagen</td>
                        <td>Producto</td>
                        <td>Precio</td>
                        <td>Subtotal</td>
                        <td>Acciones</td>
                      </tr>
                    </tbody>
                  <tfoot>
                    <button onclick="emptyCart()" class="btn btn-danger">Vaciar carrito</button>
                    <button class="btn btn-primary">Finalizar compra</button>
                  </tfoot>

                  </table>
			</div>
		</div>
	</div> -->
