<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Carrito de compras'}) %> 
<body >
  <%- include('../partials/header.ejs') %> 

  <main>
    <div class="buy-cart-container">
      <div class="buy-cart-form" >
            <div class="buy-cart"><p>Carrito de compras</p></div>
               <div class="encabezados-carrito" >
                <p class="article-title">Producto</p>
                <p class="article-title">Nombre</p>
                <p class="price-title">Precio</p>
                <p class="sub-title">Subtotal</p>
            </div>
            <div class="contenedor-articulo"id="carrito">
               
            </div> 
            <div class="gral-delivery"><p>Envio</p></div>
            <div class="pay-delivery">
                <label for="">Calcular envio
                    <select name="envio" id="envio">
                        <option value="disable">Provincia</option>
                        <optgroup label="Buenos Aires">
                            <option value="">Adrogué</option>
                            <option value="">Avellaneda</option>
                            <option value="">Otra localidad...</option>
                        </optgroup>
                        <optgroup label="Catamarca"></optgroup>
                        <option value="">San Fernando</option>
                        <option value="">Otra localidad..</option>
                        <optgroup label="Chaco"></optgroup>
                        <option value="">Resistencia</option>
                        <optgroup label="Córdoba">
                            <option value="">Alta Córdoba</option>
                        </optgroup>
                        <option value="">Otra provincia...</option>
                    </select>
                </label>
                <p>$0.00</p>
            </div>
            <div class="free-delivery">
                <label for="caba"><input type="radio" name="caba" id="caba">   Ciudad de Buenos Aires</label>
                <p>Gratis</p>
            </div>
            <div class="total-buy"><p>Total</p><p>$0.00</p></div>
            <div class="buy"><button type="submit">Finalizar compra</button></div>
            <div class="back-shop"><a href="/">Volver a la tienda!</a></div>
          </div>
    </div>
</main>


 
    <%- include('../partials/footer.ejs') %> 
<script src="/js/carrito.js"></script>
</body>
</html>

